@using PagedList
@using PagedList.Mvc
@model IEnumerable<ModelFE.EF.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fas fa-clipboard-list" style="color:red;">&nbsp;Quản Lý Category</i>

}
<hr />

<p>
    @Html.ActionLink("Thêm Danh Mục", "Create", "Category", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr style="background: grey; color: white;">
        <td>STT</td>
        <th>@Html.DisplayNameFor(model => model.IDCate)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>

        <th></th>
    </tr>
    @{var i = 1;}
    @foreach (var item in Model)
    {
<tr>
    <td>@i</td>
    <td>@Html.DisplayFor(modelItem => item.IDCate)</td>
    <td>@Html.DisplayFor(modelItem => item.Name)</td>
    <td>@Html.DisplayFor(modelItem => item.Description)</td>

    <td>
        <button type="button" class="btn btn-warning">@Html.ActionLink("Sửa", "Edit", new { id = item.IDCate })</button>
        <button type="button" class="btn btn-warning">@Html.ActionLink("Xóa", "Delete", new { id = item.IDCate })</button>
    </td>
</tr>
        i++;
    }

</table>
