@model List<ModelFE.EF.Product>

@{ foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="@Url.Content(item.Image)" alt="Load chưa ra.." style="width : 300px; height:400px;" />
                        <h2>@item.Name</h2>
                        <p>Mô tả : @item.Description</p>
                        <p>Số lượng hiện còn : @item.Quantity quyển</p>
                        <p style="color: red">Giá bán hiện tại : @item.UnitCost VND</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
