
@{
    Layout = null;
}


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-book" aria-hidden="true" style="background: orange ;color: greenyellow"></i>
        </div>
        <div class="sidebar-brand-text mx-3">BÁN SÁCH ONLINE</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index","Home")" style="font-size: 19px">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>Home</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <li class="nav-item" style="color:red">
        <a class="nav-link" href="@Url.Action("Index","User")">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span style="color:red">Người dùng</span>
        </a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="@Url.Action("Index","Category")">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            <span style="color:red">Thể loại</span>
        </a>
    </li>
    <li class="nav-item" style="color:red">
        <a class="nav-link" href="@Url.Action("Index","Product")">
            <i class="fa fa-book" aria-hidden="true"></i>
            <span style="color:red">Sản Phẩm</span>
        </a>
    </li>

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
